numpy~=1.20.1
scipy~=1.6.0
networkx~=2.5
powerlaw~=1.4.6
numba~=0.52.0
NEMtropy~=1.0.5
setuptools~=51.1.2
Pillow~=8.1.0
pip~=20.3.3
wheel~=0.36.2
six~=1.15.0
llvmlite~=0.35.0
matplotlib~=3.3.4
mpmath~=1.2.1
python-dateutil~=2.8.1
decorator~=4.4.2
pyparsing~=2.4.7
cycler~=0.10.0
kiwisolver~=1.3.1
bicm>=3.2.0